/* Mission 1 */

.Mission_un {
    text-align: center;
}

.carnivore {
    color: red;
}

.herbivore {
    color: green;
}

#lion {
    text-transform: uppercase;
}

/* Mission 1 */

/* Mission 2 */

.carre > p {
    color: blueviolet;
}

p:first-child {
    font-weight: bold;
}

p:nth-of-type(2) {
    font-style: italic;
}

/* Mission 2 */

/* Mission 3 */

li[data-type="vetement"] {
    color: lightblue;
}

li[data-type="electronique"] {
    border: 2px solid grey;
}

li[data-type="jouet"] {
    font-weight: bolder;
    text-decoration: underline;}

/* Mission 3 */

/* Mission 4 */

img:hover {
    transform: scale(1.1); /* Équivalent à scaleX(0.7) scaleY(0.7) */
}